{{#each countries}}
<div class="card">
    <h1 class="card-title">{{name.common}}</h1>
  <div class="card-body">
    <div class="country-info">
        <p class="capital"><b>Capital:</b> {{capital}}</p>
        <p class="population"><b>Population:</b> {{population}}</p>
        <p class="lang"><b>Language:</b></p>
        <ul class="lang-list">
          {{#each languages}}
            <li class="lang-list-item">{{this}}</li>
          {{/each}}
        </ul>
    </div>
    <div class="country-flag">
         <img src="{{flags.svg}}" alt="Flag of {{name.common}}" width="700px" height="500px">
    </div>
  </div>
</div>
{{/each}}